* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #51453B;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	color: #51453B;
	line-height: 29px;
}

h3 {
	font-size: 18px;
	color: #51453B;
	line-height: 29px;
}


 a {
 	font-size: 14px;
 	color: #0093B9;
 	line-height: 17px;
 }


.btn {
    padding: 10px;
    margin: 0;
    border-width: 2px;
    width: 100px;
    height: 50px;
}
.btn:hover {
	border-color: #9FB80A;
}
.btn.delete {
	border-color: #aaaaaa;
	color: #aaaaaa;
}
.btn.delete:hover {
	border-color: #aaaaaa;
	color: red;
}
.btn-action{
    text-align: center;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-right: 20;
}
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;
}

.flash li {
	list-style-type: none;
	text-align: center;
}

body {
    background-color: #f2dede;
    margin: 0px;
}
.topnav {
    background-color: #5bd2de;
    border-bottom: solid;
    padding-bottom: 20px;
    margin: 0px;
    padding-left: 15px;
    padding-top: 5px;
}
.loginout {
    padding-right: 40px;
    float: right;
    padding-bottom: 20px;
    margin: 0px;
}
.grid-container {
	display: grid;
	grid-template-columns: 15% 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "Sidebar Data-Panel";

	    /* border: solid; */
    margin-top: 15px;
    background: white;
}
.catagory {
    background-color: #fcf8e3;
    padding-bottom: 20px;
    margin: 0px;
    padding-left: 15px;
    float: left;
    margin-right: 20px;
        width: 150px;
}
.addItem {
    padding-right: 40px;
    float: right;
    padding-bottom: 20px;
    margin: 0px
}
.items{
    padding-bottom: 20px;
    margin: 0px;
    padding-left: 15px;
    float: left;
    margin-right: 20px;
    width: -webkit-fill-available;
}
.center-div {
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 3px;
	padding: 20px;
}