{% include "header.html" %}

<div class="center-div">
	<div class="description-container">

		<h2> Edit Item </h2>
		<form action= "{{url_for('editItem',cat_name=cat_name,item_name=item.title)}}" method = 'POST'>

			<p>Name</p>
			<input type = 'text' size='30' name = 'name' required value="{{item.title}}">

			<p>Description</p>
			<input type = 'text' size='250' style= "height: 200px; width: 600px" name = 'description' required value="{{item.description}}">

			<p>Category</p>
			<li name = 'category'>{{cat_name}}</li>

			<br> <br>

			<input type='submit' value='Edit'>
		</form>
<a href="{{url_for('showItem',cat_name=cat_name,item_name=item.title)}}">Cancel</a>
	</div>
</div>