<!DOCTYPE html>
<html lang="en">
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <script>
  function start() {
    gapi.load('auth2', function() {
      auth2 = gapi.auth2.init({
        client_id: '348392032239-dqv76d4004pd6cvot6qfbktan7u24fq5.apps.googleusercontent.com'
      });
    });
  }

    </script>
</head>
<body>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<button id="signinButton">Google Signin</button>

</body>
</html>