{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li><strong> {{ message }} </strong></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>


<div class="grid-container">
    <div class="catagory">
        <h2> Categories </h2>
        {% for category in categores %}
        <div class="row">
            <div class="col-md-10 cagegory-list">
                <h3><a href="{{url_for('showItems',cat_name=category.name)}}">{{category.name}}</a></h3>
            </div>

        </div>
        {% endfor %}
    </div>

    <div class="items">
        <h2>{{cat_name}} Items({{ items|length}} items)</h2>
        {% for i in items %}
        <div class="row">
            <div class="col-md-10 cagegory-list">
            <h3><a href="{{url_for('showItem',cat_name=cat_name,item_name=i.title)}}"> {{i.title}}</a></h3>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}