{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class='flash'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <ul>
        {% for message in messages %}
        <li><strong> {{ message }} </strong></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>


    <div class="grid-container">
        <div class="catagory">
            <h3> Categories </h3>
            {% for category in categores %}
                <div class="row">
                    <div class="col-md-10 cagegory-list">
                        <h3><a href="{{url_for('showItems',cat_name=category.name)}}">{{category.name}}</a></h3>
                    </div>

                </div>
            {% endfor %}
        </div>

        <div class="latestItems">
            <a href={{url_for('addItem')}}> Add New item </a>
            <h3>Latest Items</h3>
                {% for item in items %}
            <a href="/catalog/{{(item.category).name}}/{{item.title}}"><h3>{{item.title}}</h3></a>
            {% endfor %}

    </div>
</div>

{% endblock %}